<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HeroLandStatisticsTotalMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HeroLandStatisticsTotal">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="class_code" jdbcType="VARCHAR" property="classCode" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="total_score" jdbcType="VARCHAR" property="totalScore" />
    <result column="complete_rate" jdbcType="DOUBLE" property="completeRate" />
    <result column="answer_right_rate" jdbcType="DOUBLE" property="answerRightRate" />
    <result column="win_rate" jdbcType="DOUBLE" property="winRate" />
    <result column="total_time" jdbcType="INTEGER" property="totalTime" />
    <result column="average_score" jdbcType="DOUBLE" property="averageScore" />
    <result column="total_id" jdbcType="VARCHAR" property="totalId" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="history" jdbcType="BIT" property="history" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creator, modifier, gmt_create, gmt_modified, is_deleted, user_name, user_id, 
    grade_code, grade_name, class_code, class_name, total_score, complete_rate, answer_right_rate, 
    win_rate, total_time, average_score, total_id, org_code, type, history
  </sql>
  <select id="selectByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from heroland_statistics_total
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_statistics_total
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from heroland_statistics_total
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotalExample">
    delete from heroland_statistics_total
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_statistics_total (creator, modifier, gmt_create, 
      gmt_modified, is_deleted, user_name, 
      user_id, grade_code, grade_name, 
      class_code, class_name, total_score, 
      complete_rate, answer_right_rate, win_rate, 
      total_time, average_score, total_id, 
      org_code, type, history)
    values (#{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{gradeCode,jdbcType=VARCHAR}, #{gradeName,jdbcType=VARCHAR}, 
      #{classCode,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{totalScore,jdbcType=VARCHAR}, 
      #{completeRate,jdbcType=DOUBLE}, #{answerRightRate,jdbcType=DOUBLE}, #{winRate,jdbcType=DOUBLE}, 
      #{totalTime,jdbcType=INTEGER}, #{averageScore,jdbcType=DOUBLE}, #{totalId,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{history,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_statistics_total
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="gradeName != null">
        grade_name,
      </if>
      <if test="classCode != null">
        class_code,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="completeRate != null">
        complete_rate,
      </if>
      <if test="answerRightRate != null">
        answer_right_rate,
      </if>
      <if test="winRate != null">
        win_rate,
      </if>
      <if test="totalTime != null">
        total_time,
      </if>
      <if test="averageScore != null">
        average_score,
      </if>
      <if test="totalId != null">
        total_id,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="history != null">
        history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=VARCHAR},
      </if>
      <if test="completeRate != null">
        #{completeRate,jdbcType=DOUBLE},
      </if>
      <if test="answerRightRate != null">
        #{answerRightRate,jdbcType=DOUBLE},
      </if>
      <if test="winRate != null">
        #{winRate,jdbcType=DOUBLE},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="averageScore != null">
        #{averageScore,jdbcType=DOUBLE},
      </if>
      <if test="totalId != null">
        #{totalId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="history != null">
        #{history,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotalExample" resultType="java.lang.Long">
    select count(*) from heroland_statistics_total
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update heroland_statistics_total
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeCode != null">
        grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeName != null">
        grade_name = #{record.gradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.classCode != null">
        class_code = #{record.classCode,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null">
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.totalScore != null">
        total_score = #{record.totalScore,jdbcType=VARCHAR},
      </if>
      <if test="record.completeRate != null">
        complete_rate = #{record.completeRate,jdbcType=DOUBLE},
      </if>
      <if test="record.answerRightRate != null">
        answer_right_rate = #{record.answerRightRate,jdbcType=DOUBLE},
      </if>
      <if test="record.winRate != null">
        win_rate = #{record.winRate,jdbcType=DOUBLE},
      </if>
      <if test="record.totalTime != null">
        total_time = #{record.totalTime,jdbcType=INTEGER},
      </if>
      <if test="record.averageScore != null">
        average_score = #{record.averageScore,jdbcType=DOUBLE},
      </if>
      <if test="record.totalId != null">
        total_id = #{record.totalId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.history != null">
        history = #{record.history,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update heroland_statistics_total
    set id = #{record.id,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      grade_name = #{record.gradeName,jdbcType=VARCHAR},
      class_code = #{record.classCode,jdbcType=VARCHAR},
      class_name = #{record.className,jdbcType=VARCHAR},
      total_score = #{record.totalScore,jdbcType=VARCHAR},
      complete_rate = #{record.completeRate,jdbcType=DOUBLE},
      answer_right_rate = #{record.answerRightRate,jdbcType=DOUBLE},
      win_rate = #{record.winRate,jdbcType=DOUBLE},
      total_time = #{record.totalTime,jdbcType=INTEGER},
      average_score = #{record.averageScore,jdbcType=DOUBLE},
      total_id = #{record.totalId,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      history = #{record.history,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotal">
    update heroland_statistics_total
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        class_code = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=VARCHAR},
      </if>
      <if test="completeRate != null">
        complete_rate = #{completeRate,jdbcType=DOUBLE},
      </if>
      <if test="answerRightRate != null">
        answer_right_rate = #{answerRightRate,jdbcType=DOUBLE},
      </if>
      <if test="winRate != null">
        win_rate = #{winRate,jdbcType=DOUBLE},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="averageScore != null">
        average_score = #{averageScore,jdbcType=DOUBLE},
      </if>
      <if test="totalId != null">
        total_id = #{totalId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="history != null">
        history = #{history,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HeroLandStatisticsTotal">
    update heroland_statistics_total
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      grade_name = #{gradeName,jdbcType=VARCHAR},
      class_code = #{classCode,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      total_score = #{totalScore,jdbcType=VARCHAR},
      complete_rate = #{completeRate,jdbcType=DOUBLE},
      answer_right_rate = #{answerRightRate,jdbcType=DOUBLE},
      win_rate = #{winRate,jdbcType=DOUBLE},
      total_time = #{totalTime,jdbcType=INTEGER},
      average_score = #{averageScore,jdbcType=DOUBLE},
      total_id = #{totalId,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      history = #{history,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>