<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HeroLandQuestionMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="class_code" jdbcType="VARCHAR" property="classCode" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="option_a" jdbcType="VARCHAR" property="optionA" />
    <result column="option_b" jdbcType="VARCHAR" property="optionB" />
    <result column="option_c" jdbcType="VARCHAR" property="optionC" />
    <result column="option_d" jdbcType="VARCHAR" property="optionD" />
    <result column="option_e" jdbcType="VARCHAR" property="optionE" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="solution" jdbcType="VARCHAR" property="solution" />
    <result column="parse" jdbcType="VARCHAR" property="parse" />
    <result column="level_code" jdbcType="VARCHAR" property="levelCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creator, modifier, gmt_create, gmt_modified, is_deleted, grade_code, class_code, 
    question_id, title, option_a, option_b, option_c, option_d, option_e, answer, solution, 
    parse, level_code
  </sql>
  <select id="selectByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from heroland_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample">
    delete from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question (id, creator, modifier, 
      gmt_create, gmt_modified, is_deleted, 
      grade_code, class_code, title, 
      option_a, option_b, option_c, 
      option_d, option_e, answer, 
      solution, parse, level_code
      )
    values (#{id,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{gradeCode,jdbcType=VARCHAR}, #{classCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, 
      #{optionD,jdbcType=VARCHAR}, #{optionE,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{solution,jdbcType=VARCHAR}, #{parse,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="classCode != null">
        class_code,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="optionA != null">
        option_a,
      </if>
      <if test="optionB != null">
        option_b,
      </if>
      <if test="optionC != null">
        option_c,
      </if>
      <if test="optionD != null">
        option_d,
      </if>
      <if test="optionE != null">
        option_e,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="solution != null">
        solution,
      </if>
      <if test="parse != null">
        parse,
      </if>
      <if test="levelCode != null">
        level_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null">
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null">
        #{optionE,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="solution != null">
        #{solution,jdbcType=VARCHAR},
      </if>
      <if test="parse != null">
        #{parse,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        #{levelCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample" resultType="java.lang.Long">
    select count(*) from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update heroland_question
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.gradeCode != null">
        grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.classCode != null">
        class_code = #{record.classCode,jdbcType=VARCHAR},
      </if>
      <if test="record.questionId != null">
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.optionA != null">
        option_a = #{record.optionA,jdbcType=VARCHAR},
      </if>
      <if test="record.optionB != null">
        option_b = #{record.optionB,jdbcType=VARCHAR},
      </if>
      <if test="record.optionC != null">
        option_c = #{record.optionC,jdbcType=VARCHAR},
      </if>
      <if test="record.optionD != null">
        option_d = #{record.optionD,jdbcType=VARCHAR},
      </if>
      <if test="record.optionE != null">
        option_e = #{record.optionE,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null">
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.solution != null">
        solution = #{record.solution,jdbcType=VARCHAR},
      </if>
      <if test="record.parse != null">
        parse = #{record.parse,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null">
        level_code = #{record.levelCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update heroland_question
    set id = #{record.id,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      class_code = #{record.classCode,jdbcType=VARCHAR},
      question_id = #{record.questionId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      option_a = #{record.optionA,jdbcType=VARCHAR},
      option_b = #{record.optionB,jdbcType=VARCHAR},
      option_c = #{record.optionC,jdbcType=VARCHAR},
      option_d = #{record.optionD,jdbcType=VARCHAR},
      option_e = #{record.optionE,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      solution = #{record.solution,jdbcType=VARCHAR},
      parse = #{record.parse,jdbcType=VARCHAR},
      level_code = #{record.levelCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    update heroland_question
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        class_code = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null">
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null">
        option_e = #{optionE,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="solution != null">
        solution = #{solution,jdbcType=VARCHAR},
      </if>
      <if test="parse != null">
        parse = #{parse,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        level_code = #{levelCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    update heroland_question
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      class_code = #{classCode,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      option_e = #{optionE,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      solution = #{solution,jdbcType=VARCHAR},
      parse = #{parse,jdbcType=VARCHAR},
      level_code = #{levelCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="class_code" jdbcType="VARCHAR" property="classCode" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="option_a" jdbcType="VARCHAR" property="optionA" />
    <result column="option_b" jdbcType="VARCHAR" property="optionB" />
    <result column="option_c" jdbcType="VARCHAR" property="optionC" />
    <result column="option_d" jdbcType="VARCHAR" property="optionD" />
    <result column="option_e" jdbcType="VARCHAR" property="optionE" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="solution" jdbcType="VARCHAR" property="solution" />
    <result column="parse" jdbcType="VARCHAR" property="parse" />
    <result column="level_code" jdbcType="VARCHAR" property="levelCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creator, modifier, gmt_create, gmt_modified, is_deleted, grade_code, class_code, 
    question_id, title, option_a, option_b, option_c, option_d, option_e, answer, solution, 
    parse, level_code
  </sql>
  <select id="selectByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from heroland_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample">
    delete from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question (id, creator, modifier, 
      gmt_create, gmt_modified, is_deleted, 
      grade_code, class_code, title, 
      option_a, option_b, option_c, 
      option_d, option_e, answer, 
      solution, parse, level_code
      )
    values (#{id,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{gradeCode,jdbcType=VARCHAR}, #{classCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, 
      #{optionD,jdbcType=VARCHAR}, #{optionE,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{solution,jdbcType=VARCHAR}, #{parse,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="classCode != null">
        class_code,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="optionA != null">
        option_a,
      </if>
      <if test="optionB != null">
        option_b,
      </if>
      <if test="optionC != null">
        option_c,
      </if>
      <if test="optionD != null">
        option_d,
      </if>
      <if test="optionE != null">
        option_e,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="solution != null">
        solution,
      </if>
      <if test="parse != null">
        parse,
      </if>
      <if test="levelCode != null">
        level_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null">
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null">
        #{optionE,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="solution != null">
        #{solution,jdbcType=VARCHAR},
      </if>
      <if test="parse != null">
        #{parse,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        #{levelCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionExample" resultType="java.lang.Long">
    select count(*) from heroland_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update heroland_question
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.gradeCode != null">
        grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.classCode != null">
        class_code = #{record.classCode,jdbcType=VARCHAR},
      </if>
      <if test="record.questionId != null">
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.optionA != null">
        option_a = #{record.optionA,jdbcType=VARCHAR},
      </if>
      <if test="record.optionB != null">
        option_b = #{record.optionB,jdbcType=VARCHAR},
      </if>
      <if test="record.optionC != null">
        option_c = #{record.optionC,jdbcType=VARCHAR},
      </if>
      <if test="record.optionD != null">
        option_d = #{record.optionD,jdbcType=VARCHAR},
      </if>
      <if test="record.optionE != null">
        option_e = #{record.optionE,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null">
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.solution != null">
        solution = #{record.solution,jdbcType=VARCHAR},
      </if>
      <if test="record.parse != null">
        parse = #{record.parse,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null">
        level_code = #{record.levelCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update heroland_question
    set id = #{record.id,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      grade_code = #{record.gradeCode,jdbcType=VARCHAR},
      class_code = #{record.classCode,jdbcType=VARCHAR},
      question_id = #{record.questionId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      option_a = #{record.optionA,jdbcType=VARCHAR},
      option_b = #{record.optionB,jdbcType=VARCHAR},
      option_c = #{record.optionC,jdbcType=VARCHAR},
      option_d = #{record.optionD,jdbcType=VARCHAR},
      option_e = #{record.optionE,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      solution = #{record.solution,jdbcType=VARCHAR},
      parse = #{record.parse,jdbcType=VARCHAR},
      level_code = #{record.levelCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    update heroland_question
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null">
        class_code = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null">
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null">
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null">
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null">
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="optionE != null">
        option_e = #{optionE,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="solution != null">
        solution = #{solution,jdbcType=VARCHAR},
      </if>
      <if test="parse != null">
        parse = #{parse,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null">
        level_code = #{levelCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HeroLandQuestion">
    update heroland_question
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      class_code = #{classCode,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      option_e = #{optionE,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      solution = #{solution,jdbcType=VARCHAR},
      parse = #{parse,jdbcType=VARCHAR},
      level_code = #{levelCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>