<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandBasicDataMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.basic.HerolandBasicData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="ch_name" jdbcType="VARCHAR" property="chName" />
    <result column="dict_key" jdbcType="VARCHAR" property="dictKey" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="biz_no" jdbcType="VARCHAR" property="bizNo" />
    <result column="biz_i18N" jdbcType="VARCHAR" property="bizI18N" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />

    <result column="mapping_id" jdbcType="VARCHAR" property="mappingId" />
    <result column="mapping_key" jdbcType="VARCHAR" property="mappingKey" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, `field`,ch_name, dict_key, dict_value,biz_no, biz_i18N, is_deleted, creator,
    modifier, gmt_create, gmt_modified,mapping_id , mapping_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_basic_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update heroland_basic_data
    set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="deleteByDictKey" >
    update heroland_basic_data
    set is_deleted = 1
    where dict_key in
    <foreach collection="dictKeys" separator="," close=")" open="(" item="dictKey">
      #{dictKey,jdbcType=VARCHAR}
    </foreach>
  </update>

  <!--<insert id="insert" parameterType="com.heroland.competition.dal.pojo.basic.HerolandBasicData">-->
    <!--<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">-->
      <!--SELECT LAST_INSERT_ID()-->
    <!--</selectKey>-->
    <!--insert into heroland_basic_data (code, `field`,ch_name, dict_key,-->
    <!--dict_value, biz_no, biz_i18N, is_deleted, creator, modifier, gmt_create, gmt_modified)-->
    <!--values (#{code,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR},#{chName,jdbcType=VARCHAR}, #{dictKey,jdbcType=VARCHAR},-->
      <!--#{dictValue,jdbcType=VARCHAR},#{bizNo,jdbcType=VARCHAR}, #{bizI18N,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},#{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR},-->
      <!--#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})-->
  <!--</insert>-->
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.basic.HerolandBasicData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_basic_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="field != null">
        `field`,
      </if>
      <if test="chName != null">
        `ch_name`,
      </if>
      <if test="dictKey != null">
        dict_key,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>

      <if test="bizNo != null">
        biz_no,
      </if>
      <if test="bizI18N != null">
        biz_i18N,
      </if>

      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>

      <if test="mappingId != null">
        mapping_id,
      </if>
      <if test="mappingKey != null">
        mapping_key,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="chName != null">
        #{chName,jdbcType=VARCHAR},
      </if>
      <if test="dictKey != null">
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="bizNo != null">
        #{bizNo,jdbcType=VARCHAR},
      </if>
      <if test="bizI18N != null">
        #{bizI18N,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>

      <if test="mappingId != null">
        #{mappingId,jdbcType=VARCHAR},
      </if>
      <if test="mappingKey != null">
        #{mappingKey,jdbcType=VARCHAR},
      </if>


    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.basic.HerolandBasicData">
    update heroland_basic_data
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="field != null">
        `field` = #{field,jdbcType=VARCHAR},
      </if>
      <if test="chName != null">
        `ch_name`= #{chName,jdbcType=VARCHAR},
      </if>
      <if test="dictKey != null">
        dict_key = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="bizNo != null">
        biz_no = #{bizNo,jdbcType=VARCHAR},
      </if>
      <if test="bizI18N != null">
        biz_i18N = #{bizI18N,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>

      <if test="mappingId != null">
        `mapping_id` = #{mappingId,jdbcType=VARCHAR},
      </if>
      <if test="mappingKey != null">
        `mapping_key`= #{mappingKey,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--<update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.basic.HerolandBasicData">-->
    <!--update heroland_basic_data-->
    <!--set code = #{code,jdbcType=VARCHAR},-->
      <!--`field` = #{field,jdbcType=VARCHAR},-->
      <!--`ch_name` = #{chName,jdbcType=VARCHAR},-->
      <!--dict_key = #{dictKey,jdbcType=VARCHAR},-->
      <!--dict_value = #{dictValue,jdbcType=VARCHAR},-->
       <!--biz_no = #{bizNo,jdbcType=VARCHAR},-->
       <!--biz_i18N = #{bizI18N,jdbcType=VARCHAR},-->
      <!--is_deleted = #{isDeleted,jdbcType=TINYINT},-->
      <!--creator = #{creator,jdbcType=VARCHAR},-->
      <!--modifier = #{modifier,jdbcType=VARCHAR},-->
      <!--gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</update>-->

  <select id="selectByDictKeys"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_basic_data
    where dict_key in
    <foreach collection="keys" separator="," close=")" open="(" item="key">
      #{key,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_basic_data
    where code = #{code,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>


  <select id="selectByCodesAndValue"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_basic_data

    where  is_deleted = 0
    <if test="codes != null and codes.size > 0">
      and code in
      <foreach collection="codes" separator="," close=")" open="(" item="code">
        #{code,jdbcType=VARCHAR}
      </foreach>
    </if>
    <if test="value != null">
      and dict_value = #{value,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByCodeAndBizNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_basic_data
    where code = #{code,jdbcType=VARCHAR} and biz_no = #{bizNo,jdbcType=VARCHAR}
    and is_deleted = 0
  </select>

</mapper>