<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HeroLandQuestionRecordDetailExtMapper">

    <insert id="insertBach">
        insert into heroland_question_record_detail (creator, modifier, gmt_create,
        gmt_modified, is_deleted, grade_code,
        class_code, question_id, title,
        answer, your_answer, user_id,
        record_id, record_detail_id, begin_date,
        end_date, score, is_correct_answer,
        topic_id, subject_code, opponent_name
        )
        values

        <foreach collection="details" item="do" separator=",">
            (#{do.creator,jdbcType=VARCHAR}, #{do.modifier,jdbcType=VARCHAR}, #{do.gmtCreate,jdbcType=TIMESTAMP},
            #{do.gmtModified,jdbcType=TIMESTAMP}, #{do.isDeleted,jdbcType=BIT}, #{do.gradeCode,jdbcType=VARCHAR},
            #{do.classCode,jdbcType=VARCHAR}, #{do.questionId,jdbcType=BIGINT}, #{do.title,jdbcType=VARCHAR},
            #{do.answer,jdbcType=VARCHAR}, #{do.yourAnswer,jdbcType=VARCHAR}, #{do.userId,jdbcType=VARCHAR},
            #{do.recordId,jdbcType=VARCHAR}, #{do.recordDetailId,jdbcType=VARCHAR}, #{do.beginDate,jdbcType=TIMESTAMP},
            #{do.endDate,jdbcType=TIMESTAMP}, #{do.score,jdbcType=INTEGER}, #{do.correctAnswer,jdbcType=BIT},
            #{do.topicId,jdbcType=VARCHAR}, #{do.subjectCode,jdbcType=VARCHAR}, #{do.opponentName,jdbcType=VARCHAR}

            )
        </foreach>

    </insert>
    <select id="selectByTopicIdsAndUserId" resultMap="com.heroland.competition.dal.mapper.HeroLandQuestionRecordDetailMapper.BaseResultMap">
        select a.*, b.topic_id
        from heroland_competition_record b
        left join heroland_question_record_detail a
        on b.record_id = a.record_id
        where b.topic_id in
        <foreach collection="topicIds" open="(" separator="," close=")" index="i" item="topicId">
            #{topicId}
        </foreach>
        and a.user_id = #{userId}
    </select>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.heroland.competition.dal.pojo.HeroLandQuestionRecordDetail">
        update heroland_question_record_detail
        <set>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="gradeCode != null">
                grade_code = #{gradeCode,jdbcType=VARCHAR},
            </if>
            <if test="classCode != null">
                class_code = #{classCode,jdbcType=VARCHAR},
            </if>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                option_a = #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                option_b = #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                option_c = #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                option_d = #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="optionE != null">
                option_e = #{optionE,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="solution != null">
                solution = #{solution,jdbcType=VARCHAR},
            </if>
            <if test="parse != null">
                parse = #{parse,jdbcType=VARCHAR},
            </if>
            <if test="levelCode != null">
                level_code = #{levelCode,jdbcType=VARCHAR},
            </if>
            <if test="yourAnswer != null">
                your_answer = #{yourAnswer,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="recordId != null">
                record_id = #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="recordDetailId != null">
                record_detail_id = #{recordDetailId,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="correctAnswer != null">
                correct_answer = #{correctAnswer,jdbcType=BIT},
            </if>
        </set>
        where record_id = #{recordId,jdbcType=VARCHAR}
    </update>
    <update id="updateByRecordIdSelective">
        update heroland_question_record_detail
        <set>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="gradeCode != null">
                grade_code = #{gradeCode,jdbcType=VARCHAR},
            </if>
            <if test="classCode != null">
                class_code = #{classCode,jdbcType=VARCHAR},
            </if>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                option_a = #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                option_b = #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                option_c = #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                option_d = #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="optionE != null">
                option_e = #{optionE,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="solution != null">
                solution = #{solution,jdbcType=VARCHAR},
            </if>
            <if test="parse != null">
                parse = #{parse,jdbcType=VARCHAR},
            </if>
            <if test="levelCode != null">
                level_code = #{levelCode,jdbcType=VARCHAR},
            </if>
            <if test="yourAnswer != null">
                your_answer = #{yourAnswer,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="recordId != null">
                record_id = #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="recordDetailId != null">
                record_detail_id = #{recordDetailId,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="correctAnswer != null">
                correct_answer = #{correctAnswer,jdbcType=BIT},
            </if>
            <if test="topicId != null">
                topic_id = #{topicId,jdbcType=VARCHAR},
            </if>
        </set>
        where record_detail_id = #{recordDetailId,jdbcType=VARCHAR}
    </update>
    <select id="selectByCompetitionRecordId"
            resultMap="com.heroland.competition.dal.mapper.HeroLandQuestionRecordDetailMapper.BaseResultMap">
        select * from heroland_question_record_detail
        where record_id in
        <foreach collection="recordIds" open="(" separator="," close=")" item="recordId" index="i">
            #{recordId,jdbcType=VARCHAR}
        </foreach>
        and user_id = #{userId}
    </select>
</mapper>