<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandChapterMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HerolandChapter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="grade_unit" jdbcType="INTEGER" property="gradeUnit" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="edition" jdbcType="VARCHAR" property="edition" />
    <result column="edition_type" jdbcType="VARCHAR" property="editionType" />
    <result column="content_type" jdbcType="INTEGER" property="contentType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, grade, grade_unit, course, edition, edition_type, content_type, content, `order`, parent_id,
    is_deleted, creator, modifier, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_chapter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update  heroland_chapter set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HerolandChapter">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grade != null">
        grade,
      </if>
      <if test="gradeUnit != null">
        grade_unit,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="edition != null">
        edition,
      </if>
      <if test="editionType != null">
        edition_type,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="order != null">
        `order`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="gradeUnit != null">
        #{gradeUnit,jdbcType=INTEGER},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="edition != null">
        #{edition,jdbcType=VARCHAR},
      </if>
      <if test="editionType != null">
        #{editionType,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HerolandChapter">
    update heroland_chapter
    <set>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="gradeUnit != null">
        grade_unit = #{gradeUnit,jdbcType=INTEGER},
      </if>
      <if test="course != null">
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="edition != null">
        edition = #{edition,jdbcType=VARCHAR},
      </if>
      <if test="editionType != null">
        edition_type = #{editionType,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByParent" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_chapter
    where is_deleted = 0
    and parent_id = #{parentId,jdbcType=INTEGER}
  </select>

  <update id="batchDeleteByIds" parameterType="com.heroland.competition.dal.pojo.HerolandChapter">
    update heroland_chapter
    set is_deleted = 1
    where
    id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </update>

  <select id="getByQuery"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_chapter
    where is_deleted = 0
    <if test="grade != null">
     and grade = #{grade,jdbcType=VARCHAR}
    </if>
    <if test="course != null">
     and course = #{course,jdbcType=VARCHAR}
    </if>
    <if test="edition != null">
     and edition = #{edition,jdbcType=VARCHAR}
    </if>
    <if test="contentType != null">
     and content_type = #{contentType,jdbcType=INTEGER}
    </if>
    <if test="content != null">
      and content like concat('%',#{content},'%')
    </if>
    <if test="parentId != null">
      and parent_id = #{parentId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getByIds"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_chapter
    where is_deleted = 0
    and
    id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

</mapper>