<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandQuestionBankMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sub_type" jdbcType="INTEGER" property="subType" />
    <result column="diff" jdbcType="INTEGER" property="diff" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="paper_tpye" jdbcType="INTEGER" property="paperTpye" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creator, modifier, gmt_create, gmt_modified, is_deleted, grade_code, course, 
    `type`, sub_type, diff, `year`, area, `source`, paper_tpye
  </sql>
  <sql id="Blob_Column_List">
    title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from heroland_question_bank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from heroland_question_bank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question_bank (creator, modifier, gmt_create, 
      gmt_modified, is_deleted, grade_code, 
      course, `type`, sub_type, 
      diff, `year`, area, `source`, 
      paper_tpye, title)
    values (#{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, #{gradeCode,jdbcType=VARCHAR}, 
      #{course,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{subType,jdbcType=INTEGER}, 
      #{diff,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{paperTpye,jdbcType=INTEGER}, #{title,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="subType != null">
        sub_type,
      </if>
      <if test="diff != null">
        diff,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="paperTpye != null">
        paper_tpye,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="subType != null">
        #{subType,jdbcType=INTEGER},
      </if>
      <if test="diff != null">
        #{diff,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="paperTpye != null">
        #{paperTpye,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    update heroland_question_bank
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="subType != null">
        sub_type = #{subType,jdbcType=INTEGER},
      </if>
      <if test="diff != null">
        diff = #{diff,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        `year` = #{year,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="paperTpye != null">
        paper_tpye = #{paperTpye,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    update heroland_question_bank
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      sub_type = #{subType,jdbcType=INTEGER},
      diff = #{diff,jdbcType=VARCHAR},
      `year` = #{year,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      paper_tpye = #{paperTpye,jdbcType=INTEGER},
      title = #{title,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBank">
    update heroland_question_bank
    set creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      sub_type = #{subType,jdbcType=INTEGER},
      diff = #{diff,jdbcType=VARCHAR},
      `year` = #{year,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      paper_tpye = #{paperTpye,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="getByQuery"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_question_bank
    where is_deleted = 0
    <if test="grade != null">
     and grade_code = #{grade,jdbcType=VARCHAR}
    </if>
    <if test="course != null">
     and course = #{course,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
     and `type` = #{type,jdbcType=INTEGER}
    </if>
    <if test="subType != null">
     and sub_type = #{subType,jdbcType=INTEGER}
    </if>
    <if test="diff != null">
     and diff = #{diff,jdbcType=INTEGER}
    </if>
    <if test="year != null">
     and `year` = #{year,jdbcType=VARCHAR}
    </if>
    <if test="area != null">
     and area = #{area,jdbcType=VARCHAR}
    </if>
    <if test="source != null">
     and `source` = #{source,jdbcType=VARCHAR}
    </if>
    <if test="paperTpye != null">
     and paper_tpye = #{paperTpye,jdbcType=INTEGER}
    </if>
    <if test="title != null">
      and title like concat('%',#{title},'%')
    </if>
  </select>

</mapper>