<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandSkuMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HerolandSku">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="is_visible" jdbcType="TINYINT" property="isVisible" />
    <result column="sku_price" jdbcType="BIGINT" property="skuPrice" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spu_id, sku_id, is_visible, sku_price, unit, sku_name, currency_type, is_deleted, 
    creator, modifier, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from heroland_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HerolandSku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_sku (spu_id, sku_id, is_visible, 
      sku_price, unit, sku_name, 
      currency_type, is_deleted, creator, 
      modifier, gmt_create, gmt_modified
      )
    values (#{spuId,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR}, #{isVisible,jdbcType=TINYINT}, 
      #{skuPrice,jdbcType=BIGINT}, #{unit,jdbcType=INTEGER}, #{skuName,jdbcType=VARCHAR}, 
      #{currencyType,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HerolandSku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="isVisible != null">
        is_visible,
      </if>
      <if test="skuPrice != null">
        sku_price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="currencyType != null">
        currency_type,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null">
        #{isVisible,jdbcType=TINYINT},
      </if>
      <if test="skuPrice != null">
        #{skuPrice,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="currencyType != null">
        #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HerolandSku">
    update heroland_sku
    <set>
      <if test="spuId != null">
        spu_id = #{spuId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="isVisible != null">
        is_visible = #{isVisible,jdbcType=TINYINT},
      </if>
      <if test="skuPrice != null">
        sku_price = #{skuPrice,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="currencyType != null">
        currency_type = #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HerolandSku">
    update heroland_sku
    set spu_id = #{spuId,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=VARCHAR},
      is_visible = #{isVisible,jdbcType=TINYINT},
      sku_price = #{skuPrice,jdbcType=BIGINT},
      unit = #{unit,jdbcType=INTEGER},
      sku_name = #{skuName,jdbcType=VARCHAR},
      currency_type = #{currencyType,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_sku
    where 1 = 1
    <if test="spuId != null">
     and  spu_id = #{spuId,jdbcType=VARCHAR}
    </if>
    <if test="skuId != null">
     and sku_id = #{skuId,jdbcType=VARCHAR}
    </if>
    and is_deleted = 0
  </select>

</mapper>