<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HeroLandInviteRecordExtMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HeroLandInviteRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId" />
    <result column="be_invite_user_id" jdbcType="VARCHAR" property="beInviteUserId" />
    <result column="topic_type" jdbcType="VARCHAR" property="topicType" />
    <result column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status_remark" jdbcType="VARCHAR" property="statusRemark" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="record_id" jdbcType="VARCHAR" property="recordId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, topic_name, invite_user_id, be_invite_user_id, topic_type, topic_id, status, 
    status_remark, question_id, creator, modifier, gmt_create, gmt_modified, is_deleted, 
    record_id
  </sql>
  <update id="updateByRecordIdSelective" parameterType="com.heroland.competition.dal.pojo.HeroLandInviteRecord">
    update heroland_invite_record
    <set>
      <if test="topicName != null">
        topic_name = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="inviteUserId != null">
        invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
      </if>
      <if test="beInviteUserId != null">
        be_invite_user_id = #{beInviteUserId,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        topic_type = #{topicType,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="statusRemark != null">
        status_remark = #{statusRemark,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>

</mapper>