<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandQuestionBankDetailMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HerolandQuestionBankDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="qb_id" jdbcType="BIGINT" property="qbId" />
    <result column="option" jdbcType="VARCHAR" property="option" />
    <result column="option_answer" jdbcType="VARCHAR" property="optionAnswer" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="parse" jdbcType="VARCHAR" property="parse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creator, modifier, gmt_create, gmt_modified, is_deleted, qb_id,  `option`,
    option_answer, answer, parse
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from heroland_question_bank_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update  heroland_question_bank_detail set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBankDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_question_bank_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="qbId != null">
        qb_id,
      </if>
      <if test="option != null">
        `option`,
      </if>
      <if test="optionAnswer != null">
        option_answer,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="parse != null">
        parse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="qbId != null">
        #{qbId,jdbcType=BIGINT},
      </if>
      <if test="option != null">
        #{option,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionAnswer != null">
        #{optionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=LONGVARCHAR},
      </if>
      <if test="parse != null">
        #{parse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HerolandQuestionBankDetail">
    update heroland_question_bank_detail
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="qbId != null">
        qb_id = #{qbId,jdbcType=BIGINT},
      </if>

      <if test="option != null">
        `option` = #{option,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionAnswer != null">
        option_answer = #{optionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=LONGVARCHAR},
      </if>
      <if test="parse != null">
        parse = #{parse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByQtId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_question_bank_detail
    where is_deleted = 0
    <if test="qtIds != null and qtIds.size > 0">
      and qb_id IN
      <foreach collection="qtIds" item="qtId" open="(" close=")" separator=",">
        #{qtId}
      </foreach>
    </if>
  </select>

  <update id="deleteByQtId" >
   update heroland_question_bank_detail
    set is_deleted = 1
    where 1 =1
    <if test="qtIds != null and qtIds.size > 0">
      and qb_id IN
      <foreach collection="qtIds" item="qtId" open="(" close=")" separator=",">
        #{qtId}
      </foreach>
    </if>
  </update>

</mapper>