<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordExtMapper">

    <resultMap id="CompetitionQuestionsMap" type="com.heroland.competition.dal.pojo.HeroLandCompetitionRecordQuestions">
        <collection property="details"
                    resultMap="com.heroland.competition.dal.mapper.HeroLandQuestionRecordDetailMapper.BaseResultMap"
                    ofType="com.heroland.competition.dal.pojo.HeroLandQuestionRecordDetail"/>
    </resultMap>

    <resultMap id="StatisticsMap" type="com.heroland.competition.dal.pojo.HeroLandStatisticsDetailAll"
               extends="com.heroland.competition.dal.mapper.HeroLandStatisticsDetailMapper.BaseResultMap">
        <result column="right_count" property="rightCount"/>

    </resultMap>
    <select id="selectCompetitionRecordsAndQuestions"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">

        select a.* ,b.* from heroland_competition_record a left join heroland_question_record_detail b
        on a.record_id = b.record_id
        where a.is_deleted = 0 and b.is_deleted = 0

        <if test="topic != null and topic != ''">
            and a.topic = #{topic,jdbcType=VARCHAR}
        </if>

        <if test="recordId != null and recordId != ''">
            and a.record_id = #{recordId,jdbcType=VARCHAR}
        </if>

        <if test="startRow != null and startRow != -1 and pageSize != null">
            limit #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>

    </select>

    <select id="countCompetitionRecordsAndQuestions"
            resultType="java.lang.Long">

        select count(a.*) from heroland_competition_record a left join heroland_question_record_detail b
        on a.record_id = b.record_id
        where a.is_deleted = 0 and b.is_deleted = 0

        <if test="topic != null and topic != ''">
            and a.topic = #{topic,jdbcType=VARCHAR}
        </if>

        <if test="recordId != null and recordId != ''">
            and a.record_id = #{recordId,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getTotalScore" resultMap="StatisticsMap">


        select
        sum(total_score) total_score,user_id ,type,grade_code,class_code ,org_code,
        sum(total_score)/sum(competitionCount) average_score,sum(competitionCount) total_games ,subject_code
        from (
        select sum(invite_score) total_score,invite_id user_id ,topic_type type
        ,class_code ,grade_code ,org_code ,subject_code
        ,count(invite_score) competitionCount
        from heroland_competition_record
        where is_deleted = 0
        <if test="type != null">
            and topic_type = #{type}
        </if>

        GROUP BY org_code
        <if test="groupByType == true">
            ,`topic_type`
        </if>
        <if test="groupByGradeCode == true">
            ,grade_code
        </if>
        <if test="groupByInviteId == true">
            ,invite_id
        </if>

        <if test="groupBySubjectCode == true">
            ,subject_code
        </if>


        union all

        select sum(opponent_score) total_score , opponent_id user_id ,topic_type type
        ,class_code ,grade_code ,org_code ,subject_code,
        count(opponent_score) competitionCount
        from heroland_competition_record
        where is_deleted = 0
        <if test="type != null">
            and `topic_type` = #{type}
        </if>


        GROUP BY org_code
        <if test="groupByType == true">
            ,`topic_type`
        </if>
        <if test="groupByGradeCode == true">
            ,grade_code
        </if>
        <if test="groupByOpponentId == true">
            ,opponent_id
        </if>
        <if test="groupBySubjectCode == true">
            ,subject_code
        </if>


        ) a
        GROUP BY user_id

    </select>


    <select id="getTotalScoreDetail" resultMap="StatisticsMap">


        select
        sum(total_score) total_score,user_id ,type,grade_code,class_code ,org_code,subject_code
        sum(total_score)/sum(competitionCount) avgScore,sum(competitionCount) total_games from (
        select sum(invite_score) total_score,invite_id user_id ,topic_type type
        ,class_code class_code,grade_code grade_code,org_code org_code,subject_code
        ,count(invite_score) competitionCount
        from heroland_competition_record
        where is_deleted = 0
        <if test="type != null">
            and topic_type = #{type}
        </if>
        GROUP BY org_code,topic_type,grade_code,class_code,subject_code
        ,invite_id
        union all

        select sum(opponent_score) total_score , opponent_id user_id ,topic_type type
        ,class_code class_code,grade_code grade_code,org_code org_code,subject_code
        count(opponent_score) competitionCount
        from heroland_competition_record
        where is_deleted = 0
        <if test="type != null">
            and topic_type = #{type}
        </if>

        GROUP BY org_code,topic_type,grade_code,class_code,subject_code
        ,opponent_id

        ) a
        GROUP BY user_id

    </select>
    <select id="getDetailCount" resultMap="StatisticsMap">

        select count(*) right_count,user_id ,grade_code ,class_code,topic_id
        from heroland_question_record_detail
        where is_deleted =0
        <if test="ifCorrectAnswer == true">
            and correct_answer = 1
        </if>
        group by user_id,subject_code

    </select>

    <select id="selectByTopicIdsAndInviterId"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">
        select *
        from heroland_competition_record
        where is_deleted = 0
        and topic_id in
        <foreach collection="topicIds" open="(" separator="," close=")" index="i" item="topicId">
            #{topicId}
        </foreach>
        and (invite_id = #{userId} or opponent_id = #{userId})
    </select>

    <select id="getCompleteRate" resultMap="StatisticsMap">

    </select>

    <select id="getWinRate" resultMap="StatisticsMap">
        <!--        0 邀请方胜利。1 被邀请方胜利。2 平局且都答对，3平局且都答错-->
        select

        invite_id user_id ,topic_type type
        ,class_code ,grade_code ,org_code ,subject_code
        ,count(*) right_count

        from heroland_competition_record

        where is_deleted = 0

        <if test="userId != null">
            and invite_id= #{userId}

        </if>
        <if test="resultInvite != null">
            and result =#{resultInvite}

        </if>
        group by invite_id,topic_type,subject_code


        union ALL

        select

        opponent_id user_id ,topic_type
        ,class_code ,grade_code ,org_code ,subject_code
        ,count(*) right_count

        from heroland_competition_record

        where is_deleted = 0


        <if test="userId != null">
            and invite_id= #{userId}

        </if>
        <if test="resultOpponent != null">
            and result =#{resultOpponent}

        </if>

        group by opponent_id,topic_type,subject_code
    </select>

    <select id="getTotalTime" resultMap="StatisticsMap">


        select (sum(UNIX_TIMESTAMP(end_date))- sum(UNIX_TIMESTAMP(begin_date))) total_time,org_code ,user_id from
        heroland_question_record_detail

        where is_deleted = 0
        GROUP BY user_id ,subject_code


    </select>
    <select id="selectByRecordId"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">
        select *
        from heroland_competition_record
        where record_id = #{recordId} and is_deleted = 0
        limit 1
    </select>
    <select id="selectByTopicIdAndInviteIdAndOpponentId"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">
        select *
        from heroland_competition_record
        where topic_id = #{topicId}
        and invite_id = #{inviteId}
        and opponent_id = #{opponentId}
    </select>

    <select id="selectByRecordQO"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">
        select
        <include refid="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.Base_Column_List"/>

        from heroland_competition_record

        where is_deleted =0
        <if test="userId != null">
            and (invite_id = #{userId} or opponent_id = #{userId})
        </if>
        <if test="recordId != null">
            and record_id = #{recordId}

        </if>

        <if test="inviteRecordId != null">
            and invite_record_id = #{inviteRecordId}

        </if>
        <if test="topicId != null">
            and topic_id = #{topicId}

        </if>
        <if test="topicName != null">
            and topic_name = #{topicName}

        </if>
        <if test="topicType != null">
            and topic_type = #{topicType}

        </if>
        <if test="opponentId != null">
            and opponent_id = #{opponentId}

        </if>

        <if test="inviteId != null">
            and invite_id = #{inviteId}

        </if>
        <if test="subjectCode != null">
            and subject_code = #{subjectCode}

        </if>
        <if test="id != null">
            and id = #{id}

        </if>

        <if test="topicIds != null and topicIds.size()>0">
           and  topic_id in
            <foreach collection="topicIds" open="(" separator="," close=")" index="i" item="topicId">
                #{topicId}
            </foreach>
        </if>



        order by id desc
        <if test="startRow != null and startRow != -1 and pageSize != null">
            limit #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>


    </select>
    <select id="countByRecordQO" resultType="java.lang.Long">
        select
        count(*)

        from heroland_competition_record

        where is_deleted =0
        <if test="userId != null">
            and (invite_id = #{userId} or opponent_id = #{userId})
        </if>
        <if test="inviteRecordId != null">
            and invite_record_id = #{inviteRecordId}

        </if>
        <if test="recordId != null">
            and record_id = #{recordId}

        </if>
        <if test="topicId != null">
            and topic_id = #{topicId}

        </if>
        <if test="topicName != null">
            and topic_name = #{topicName}

        </if>
        <if test="topicType != null">
            and topic_type = #{topicType}

        </if>
        <if test="opponentId != null">
            and opponent_id = #{opponentId}

        </if>

        <if test="inviteId != null">
            and invite_id = #{inviteId}

        </if>
        <if test="subjectCode != null">
            and subject_code = #{subjectCode}

        </if>
        <if test="id != null">
            and id = #{id}

        </if>


        <if test="topicIds != null and topicIds.size()>0">
            and  topic_id in
            <foreach collection="topicIds" open="(" separator="," close=")" index="i" item="topicId">
                #{topicId}
            </foreach>
        </if>

    </select>

    <select id="selectByInviteRecordId"
            resultMap="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.BaseResultMap">
        select
        <include refid="com.heroland.competition.dal.mapper.HeroLandCompetitionRecordMapper.Base_Column_List"/>

        from heroland_competition_record

        where invite_record_id = #{inviteRecordId}
        and is_deleted  =  0
        limit 1


    </select>
</mapper>