<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroland.competition.dal.mapper.HerolandTopicQuestionMapper">
  <resultMap id="BaseResultMap" type="com.heroland.competition.dal.pojo.HerolandTopicQuestion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="chapter_id" jdbcType="BIGINT" property="chapterId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="org_code" jdbcType="BIT" property="orgCode" />
    <result column="total_count"  property="totalCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question_id, topic_id,chapter_id, creator, modifier, gmt_create, gmt_modified, is_deleted,org_code
  </sql>

  <sql id="Insert_Column_List">
    question_id,topic_id,chapter_id,org_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_topic_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update  heroland_topic_question set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.heroland.competition.dal.pojo.HerolandTopicQuestion">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_topic_question (question_id, topic_id,chapter_id, creator,
      modifier, gmt_create, gmt_modified,
      is_deleted,org_code)
    values (#{questionId,jdbcType=BIGINT}, #{topicId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR},
      #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{isDeleted,jdbcType=BIT},#{orgCode})
  </insert>
  <insert id="insertSelective" parameterType="com.heroland.competition.dal.pojo.HerolandTopicQuestion">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into heroland_topic_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="orgCode != null">
        #{orgCode},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heroland.competition.dal.pojo.HerolandTopicQuestion">
    update heroland_topic_question
    <set>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="orgCode != null">
       org_code= #{orgCode}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heroland.competition.dal.pojo.HerolandTopicQuestion">
    update heroland_topic_question
    set question_id = #{questionId,jdbcType=BIGINT},
      topic_id = #{topicId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      org_code= #{orgCode}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="deleteByTopicIds" >
    update heroland_topic_question
    set is_deleted = 1
    <where>
      <if test="topicIds != null and topicIds.size > 0">
        and topic_id IN (
        <foreach collection="topicIds" item="topicId" index="index" separator=",">
          #{topicId,jdbcType=BIGINT}
        </foreach>
        )
      </if>
    </where>
  </update>


  <select id="selectByTopics" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from heroland_topic_question
    <where>
      <if test="topicIds != null and topicIds.size > 0">
        and topic_id IN (
        <foreach collection="topicIds" item="topicId" index="index" separator=",">
          #{topicId,jdbcType=BIGINT}
        </foreach>
        )
      </if>
      <if test="questionId != null">
        and question_id = #{questionId,jdbcType=BIGINT}
      </if>
      and is_deleted = 0
    </where>
  </select>

  <insert id="saveBatch" parameterType="java.util.List">
    insert into heroland_topic_question
    (<include refid="Insert_Column_List"/>)
    values
    <foreach collection="records" item="item" index="index" separator=",">
      (#{item.questionId,jdbcType=BIGINT},
      #{item.topicId,jdbcType=BIGINT},
      #{item.chapterId,jdbcType=BIGINT},
      #{item.orgCode}
      )
    </foreach>
  </insert>


  <select id="selectQuestionsByTopic" resultType="com.heroland.competition.domain.dp.QuestionTopicDP">
    select
    htq.question_id           as questionId,
    htq.topic_id              as topicId,
    htg.level_code            as topicLevelCode,
    htg.topic_name            as topicName,
    htg.type                  as topicType,
    htg.diff                  as topicDiff,
    htg.start_time            as startTime,
    htg.end_time            as endTime,
    htg.org_code            as orgCode,
    htg.grade_code            as topicGradeCode,
    htg.class_code            as classCode,
    htg.course_code            as courseCode

    from heroland_topic_question htq
    left join heroland_topic_group htg on htg.id = htq.topic_id

    where htg.is_deleted = 0
    and htq.is_deleted = 0
    <if test="item.topicIds != null and item.topicIds.size > 0">
      and htq.topic_id IN (
      <foreach collection="item.topicIds" item="topicId" index="index" separator=",">
        #{topicId,jdbcType=BIGINT}
      </foreach>
      )
    </if>
    <if test="item.questionId != null">
      and htq.question_id = #{item.questionId,jdbcType=BIGINT}
    </if>
    <if test="item.orgCode != null">
      and htg.org_code = #{item.orgCode,jdbcType=VARCHAR}
    </if>
    <if test="item.gradeCode != null">
      and htg.grade_code = #{item.gradeCode,jdbcType=VARCHAR}
    </if>
    <if test="item.classCode != null">
      and htg.class_code = #{item.classCode,jdbcType=VARCHAR}
    </if>
    <if test="item.courseCode != null">
      and htg.course_code = #{item.courseCode,jdbcType=VARCHAR}
    </if>
    <if test="item.type != null">
      and htg.`type` = #{item.type,jdbcType=INTEGER}
    </if>
    <if test="item.startTime != null">
      and htg.start_time &gt;= #{item.startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="item.endTime != null">
      <![CDATA[
                and htg.end_time <= #{item.endTime,jdbcType=TIMESTAMP}
            ]]>
    </if>
  </select>


</mapper>